/* .container {
    width: 1250px;
    border: 1px solid black;
    height: 1000px;
    margin: 0 auto;
}

.box {
    color: black;
    font-weight: bold;
    font-size: 40px;
    width: 150px;
    height: 150px;
    margin: 10px;
    padding: 10px;
}

.m1 {
    float: left;
    background-color: aqua;
}

.m2 {
    float: right;
    background-color: tomato;
}

.m3 {
    margin: 0 auto;
    background-color: darkorchid;
}

img {
    float: left;

}

p {
    clear: both;
}

div {
    color: black;
    font-weight: bold;
    font-size: 40px;
    width: 150px;
    height: 150px;
    margin: 10px;
    padding: 10px;
} */

/* 수직 수평 가운데정렬법 */
.par {
    position: relative;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.child {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}