.loader {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 250px;
}

.dot {
    width: 50px;
    height: 50px;
    margin: 0 15px;
    border-radius: 50%;
    background-color: #3498bd;
    animation: quiz 1s infinite alternate;

}

.dot:nth-child(1) {
    animation-delay: -0.4s;
}

.dot:nth-child(2) {
    animation-delay: -0.2;
}

.dot:nth-child(3) {
    animation-delay: 0s;
}


@keyframes quiz {
    0% {
        transform: scale(0.8);
        background-color: #3498bd;
    }

    100% {
        transform: scale(1.2);
        background-color: aquamarine;
    }
}