.row {
    background-color: slateblue;
    width: 600px;
    height: 500px;
    display: flex;
}

.item {
    background-color: hotpink;
    width: 150px;
    height: 100px;
    margin: 15px;
    color: aliceblue;
    font-size: 25px;
    text-align: center;
    line-height: 100px;
}

/* flex-direction 설정 */
/* .flexed {
    flex-direction: column-reverse;
} */


/* justify-content */
/* .just {
    justify-content: center;
    justify-content: space-between;
    justify-content: space-around;
} */
/*
.a-items {
    align-items가 설정되지 않으면
    padding으로도 item의 높이 컨트롤은 불가
    align-items: center;
}
*/

/* .flex-wrap {
    flex-wrap: wrap-reverse;
} */

.a-content {
    flex-wrap: wrap;
    /* align-content가 의미있게 동작하기 위해 먼저 선언이 필요 */
    align-content: space-around;
}