div {
    width: 150px;
    height: 150px;
    margin: 20px;
}

.parent {
    background-color: yellowgreen;
    position: relative;
    top: 230px;
}

.abs {
    position: absolute;
    top: 50px;
    left: 50px;
    background-color: lightsalmon;
}


/* 
#one {
    background-color: skyblue;
    position: relative;
    left: 30px;
    top: 30px;
}

#two {
    background-color: lightpink;
    position: absolute;
    TOP: 30px;
    left: 30px;
} */