* {
    margin: 0;
    padding: 0;
}

.nav-menu {
    width: 100vw;
    background-color: #333;
    position: relative;
    /* opacity: 0.8; */
}

/*자식선택자*/
.nav-menu>ul {
    list-style: none;
    width: 100;
    text-align: center;
}

.nav-menu>ul>li {
    position: relative;
    display: inline-block;
    width: 33vw;
}

.nav-menu>ul>li:hover .submenu {
    display: block;
}

.nav-menu>ul>li>a {
    display: block;
    color: aliceblue;
    text-decoration: none;
    padding: 15px;
}

.submenu {
    display: none;
    position: absolute;
    background-color: #444;
    width: 100%;
    left: 0;
    top: 100%;
    /*top:100%는 매인메뉴 아래에 바로 위치할 수 있다.*/

}

.submenu a {
    display: block;
    color: white;
    text-decoration: none;
    padding: 10px;
    border-top: 1px solid #555;
}

.submenu a:hover {
    background-color: #555;
}