/* div {
    width: 150px;
    height: 150px;
    background-color: aqua;
    transition: all 3s;
}

div:hover {
    border-radius: 50%;
    background-color: springgreen;
} */

/* .hover-btn {
    width: 150px;
    height: 75px;
    background-color: #3498db;
    color: white;
    border: none;
    cursor: pointer;
    transition: all 0.5s;
}

.hover-btn:hover {
    background-color: #29b967;
    transform: scale(1.1) rotate(5deg);
} 

div {
    width: 75px;
    height: 50px;
    background-color: steelblue;
    transition: width 3s;
    /* transition-property: width, background-color;
    transition-duration: 2s, 3s; 
} */
/*
div:hover {
    width: 350;
    background-color: crimson;
} */


div {
    font: bold 16px/50px "Open Sans";
    color: white;
    text-align: center;
    width: 100px;
    height: 50px;
    background-color: red;
    margin-bottom: 10px;
    transition: width 3s;
}

div:nth-child(1) {
    /* transition-timing-function: ease; */
    transition-delay: 3s;
}

div:nth-child(2) {
    transition-timing-function: linear;
}

div:nth-child(3) {
    transition-timing-function: ease-in;
}

div:nth-child(4) {
    transition-timing-function: ease-out;
}

div:nth-child(5) {
    transition-timing-function: ease-in-out;
}

div:hover {
    width: 300px;
}