/* body {
    font-size: 20px;
}

div {
    font-size: 1.5em;
} */

.itm {
    width: 50vw;
    height: 45vh;
    text-align: center;
    line-height: 45vh;
    font-size: 4rem;
}

.itm1 {
    background-color: skyblue;
}

.itm2 {
    background-color: beige;
}